body{
    margin: 0px;
    padding: 0px;
}
.top-logo{
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    padding-top: 105px;
}
.top-logo__elena{
    display: block;
    margin: 0 auto;
}
.top-logo__menu{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 47px;
    margin-bottom: 79px;
    font-family: 'Open Sans', sans-serif;
}
.menu-elements{
margin-left: 25px;
}
.top-logo__title{
    display: block;
    margin: 0 auto;
}
.top-logo__subtitle{
    text-align: center;
    color: white;
    margin-top: 43px;
    margin-bottom: 83px;
    font-family: 'Open Sans', sans-serif;

}
.top-logo__button{
    border: 0px;
    border-radius: 50px;
    background-color: #3dd3ba;
    color: white;
    padding:10px 30px;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.top-logo__button:hover{
opacity: 0.5;
}
.services__wrapper{

}
.services{
    background-color: #eaeaeb; 
    text-align: center;
    padding-top: 55px;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.services__info{
    width: 13%;
}
.services__info-icon{
    height: 43px;
}
.services__info-title{
    margin-top: 32px;
    margin-bottom: 35px;
}
.services__info-text{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #787b80;
    padding-bottom: 75px;
    margin: 0 auto;
}
.feedback{
padding: 60px 0px;
}
.feedback__contacts{
    width: 28%;
}
.feedback__contacts-picture{
    
}
.feedback__contacts-title{
    margin-top: 32px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.feedback__contacts-info{
    margin-top: 32px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #787b80;
}
.feedback__contacts-button{
    margin-top: 34px;
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: #3dd3ba;
    padding: 10px 15px;
}
.feedback__contacts-button:hover{
    opacity: 0.5;
    cursor: pointer;
}
.support{
    background-color: #eaeaeb;
    padding: 60px 0px;
}
.support__wrapper{
    max-width: 950px;
    margin: 0 auto;
}
.support__title{
    display: flex;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.support__title-text{
    margin-left: 10px;
    font-size: 18px;
}
.support__info{
    font-family: 'PT Sans', sans-serif;
    color: #787b80;
    margin: 26px 0px;
    font-size: 14px;
}
.support__button{
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: #d2d5da;
    padding: 10px 15px;
}
hr{
    opacity: 0.06;
    margin-top: 10px;
}
.support__button:hover{
    opacity: 0.5;
    cursor: pointer;
}
.benefits{
    padding: 60px 0px;
}
.benefits__application{
    width: 19.5%;
}
.benefits__application-picture{
    padding-bottom: 41px;
}
.benefits__application-title{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.benefits__application-info{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #787b80;
    padding-bottom: 28px;
}
.benefits__application-link{
    color: #50c3af;
    text-decoration: none;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}
.benefits__application-link:hover{
    cursor: pointer;
}
.communication{
    padding: 60px 0px;
    background-color: #eaeaeb;
}
.communication__link{
    width: 40%;
}
.communication__title{
    display: flex;
    padding-bottom: 19px;
}
.communication__title-text{
    margin-left: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.communication__info{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #787b80;
    margin-top: 28px;
}
.communication__button{
    margin-top: 34px;
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: #3dd3ba;
    padding: 10px 15px;
}
.communication__button:hover{
    cursor: pointer;
    opacity: 0.5;
}
.ad{
    padding: 60px 0px;
}
.ad__picture{
    width: 40%
}
.ad__info{
    width: 40%;
}
.ad__info-title{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    padding-bottom: 19px;
}
.ad__info-text{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #787b80;
}
.ad__info-button{
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: #d2d5da;
    padding: 10px 15px;
    margin-top: 34px;
}
.ad__info-button:hover{
    cursor: pointer;
    opacity: 0.5;
}
.partners{
    padding: 60px 0px;
    background-color: #50c3af;
}
.partners__title{
    display: flex;
    justify-content: center;
}
.partners__title-text{
    margin-left: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: white;
}
.partners__links{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer{
    padding: 20px 0px;
}
.footer__copyright{
    color: #aaacaf;
    font-family: "PT Sans";
    font-size: 13px;
}
.footer__links{
    display: flex;
}
.footer__links-facebook{
    padding-left: 16px;
    padding-right: 16px;
}